.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}
.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.header-light {
  color: #12002b;
  margin-bottom: 2rem;
}

.edit-name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.inputs-wrapper {
  display: flex;
  gap: 1rem;
}

.firstname-wrapper,
.lastname-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  font-weight: bold;
}

.inputs-wrapper input {
  width: 110px;
  height: 40px;
  font-size: 1rem;
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
}

.buttons-wrapper button {
  width: 80px;
  height: 40px;
  border-color: #6458f5;
  background-color: #fff;
  color: #6458f5;
  font-weight: bold;
}

.edit-name-error-message {
  color: red;
  font-size: 1rem;
  text-align: center;
}
